$celular: 480px;

//**FONDO NEGRO**//
$tablets: 767px;
//**FONDO color 1**//
$computadores: 950px;
//**FONDO color 2**//





$color-fondo1:rgb(241, 0, 0);
$color-fondo2: rgb(245, 212, 141);
$color-fondo3: rgb(41, 82, 99);

